* {
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 0px;

}

.box-red {
    width: 100px;
    height: 100px;
    background-color: red;
    border: 5px solid darkred;
    margin: 10px;
}

.box-yellow {
    width: 100px;
    height: 100px;
    background-color: yellow;
    border: 5px solid darkgoldenrod;
    margin: 10px;
}

.box-green {
    width: 100px;
    height: 100px;
    background-color: green;
    border: 5px solid darkgreen;
    margin: 10px;
}